<div class="col-lg-10 col-lg-offset-1" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

    <h1 class="text-center">{{titulo}}</h1>

    <div *ngIf="alertMessage" class="alert alert-info">
        <strong>{{alertMessage}}</strong>
    </div>

    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">

        <p>
            <label for="">Nombre:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required class="form-control" />
            <span *ngIf="!name.valid && name.touched">
             El nombre es obligatorio
         </span>
        </p>
        <p>
            <label for="">Descripción:</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched">
             La descripcion es obligatoria
         </span>
        </p>

        <div *ngIf="is_edit">
            <div class="artist_image_for_edit" *ngIf="artist.image && artist.image != 'null'">
                <img src="{{url + 'getimageartist/' + artist.image}}" alt="" width="15%">
            </div>
            <label for="">Sube la imagen del artista:</label>
            <input type="file" placeholder="subir imagen" (change)="fileChangeEvent($event)"/>
        </div>

        <input type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid" class="btn btn-success" />
    </form>
</div>


<div class="col-lg-10 col-lg-offset-1" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
<h1>Error</h1>
<p>No tienes acceso a esta parte de la aplicación</p>
</div>
