 /* GLOBAL */
html, body{
    margin: 0px;
    height: 90%;
    background-color: #eee;
}
.actived{
    border-bottom:4px solid white;
    padding-bottom: 4px;
}
.central{
    height: 100%;
    overflow-y: scroll;
}
/* BARRA LATERAL */
.head-title{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
.navigation{
    text-align: center;
    color: #ddd;
    background-color: #1C1C1F;
    height: 125%;
    margin-bottom: 30px;
    
}
.navigation a {
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    font-size: 80%;
}
.navigation a:hover{
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    font-size: 80%;
}
.navigation .glyphicon{  
    font-size: 280%;  
    display: block;
    width: 100%;
    color:white;
}
#user_logged{
  margin-top: 10%;
  padding-top: 5%;  
  background-color:#1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top:1px solid #444;
  width: 75%;
  text-align: center;
}
#user_logged .user_image{
   background-color: #eee;
   border-radius: 100px;
   height: 57px;
   width: 57px;
   margin: 0px auto;
   margin-top: 15px;
   overflow: hidden;
}
#user_logged .user_image img{
   width: 57px;
}
.btn-log-out{
cursor: pointer;
}
/* ARTISTAS Y ALBUMS */
.album_image_for_edit img,
.artist_image_for_edit img{
 width: 15%;
}
.album-list,
.artist-list{
    margin:0px;
    padding:0px;
    margin-top: 30px;
    list-style: none;
}
.artist-item,
.album-item{
    width:23%;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}
.artist-item .artist-image,
.album-item .album-image {
    height: 245px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.artist-item .artist-image img{
    min-width: 80%;
    height: 100%
}
.album-item .album-image img{
    width:100%
}
.artist-item .artist-name,
.album-item .album-name{
    color:white;
    padding: 10px;
    background: #222326;
}
.artist-item .artist-name a,
.album-item .album-name a,
{
    color:white;
}
#artist-head-card .image{
    width: 145px;
    height: 145px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.album-item{
    height: 355px;
}
#artist-head-card .image img{
    width: 130px;
    height: 130px;
}
.seguro{
    background-color: #222326;
    margin-top: -30px;
    position: absolute;
    height: 40px;
}
.seguro-album{
    background-color: #222326;
    margin-top: -42px;
    position: absolute;
    height: 40px;
    margin-left: 10px;
}
